
/* Remove underline from Links */
a {
    text-decoration: none;
    color: #2a6496;
}

body {
    background-color: #ddd;
    line-height: 1.8;
}
table {
    margin-left: auto;
    margin-right: auto;
}
th{
    text-align: center;
}

.navbar-brand {
    font-size: 1.2em;
}

span.hlb {
    color: #185392;
    line-height: 1.5;
}

span.hlr {
    color: #943126;
    line-height: 1.5;
}

span.center-strong {
    text-align: center;
    font-weight: 900;
    display: block;
}

span.page {
    color: #464a4a;
    font-style: italic;
    position: absolute;
    left: 0;
}

span.page::before {
    content: "~";
}

span.pre-page {
    color: #464a4a;
    font-style: italic;
    position: absolute;
    left: 0;
    font-size: small;
}
span.pre-page::before {
    content: "^";
}

h1 {
    font-size: 2.0em;
    padding-top: 10px;
    padding-bottom: 10px
}

h2 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px
}

h3 {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px
}

h4 {
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px
}

div.article-title {
    text-align: center;
    text-decoration: none;
}
div.article-last-update {
    text-align: center;
    text-decoration: none;
    padding: 20px 0 0 0;
}

div.container{
    margin: 15px auto 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.article-title > h1 {
    padding: 0 0 20px 0;
}

.article-metadata {
    padding: 10px 0 20px 0;
}

.article-summary {
    padding: 10px 30px 0 30px;
}

.article-content {
    padding: 30px 0 0 0;
}

/*.article {*/
/*    counter-reset: h2*/
/*}*/


/*.section > h2 {*/
/*    counter-reset: h3*/
/*}*/

/*.section > h3 {*/
/*    counter-reset: h4*/
/*}*/

/*.section > h4 {*/
/*    counter-reset: h5*/
/*}*/

/*.section > h5 {*/
/*    counter-reset: h6*/
/*}*/

/*.section > h2 :before {*/
/*    counter-increment: h2;*/
/*    content: counter(h2) ". "*/
/*}*/

/*.section > h3 :before {*/
/*    counter-increment: h3;*/
/*    content: counter(h2) "." counter(h3) ". "*/
/*}*/

/*.section > h4 :before {*/
/*    counter-increment: h4;*/
/*    content: counter(h2) "." counter(h3) "." counter(h4) ". "*/
/*}*/

/*.section > h5 :before {*/
/*    counter-increment: h5;*/
/*    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "*/
/*}*/

/*.section > h6 :before {*/
/*    counter-increment: h6;*/
/*    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "*/
/*}*/

.section > img {
    width: 100%
}

img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.toc > {
    padding-left: -10px;
}

.toc ul {
    /*counter-reset: section;*/
    padding-left: 0
}

.toc ul li {
    list-style-type: none;
}

/*.toc ul li:before {*/
/*    counter-increment: section;*/
/*    content: counters(section, ".") ". "*/
/*}*/


a.toc-backref {
    text-decoration: none;
    color: #3e4245;
}

.sidebar {
    font-size: 0.9em;
    border-color: #FB0000;
    border-radius: 15px;
    border-width: medium;
    overflow: visible;
}

.list-of-tags {
    margin: 0;
    overflow: scroll;
    list-style: none;
    display: inline-block;
}

.list-of-tags li {
    margin: 0;
    float: left;
    list-style: none;
}

.list-of-tags a {
    padding: 3px 6px;
    margin: 2px;
    color: #222;
    background: #E5E5E5;
    border-radius: 5px;
    text-decoration: none;
}


ul, ol {
    padding: 0;
    line-height: 1.8;
    margin: 0 0 0 20px;
}

.beapow-article li {
    font-size: 1.1em;
    line-height: 2.0;
    margin: 0;
}

.beapow-article blockquote {
    font-size: 1em;
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.2);
}

.beapow-article blockquote p {
    padding-left: 0;
    font-size: 1em;
}

.beapow-article ul,
.beapow-article ol {
    margin-left: 30px;
}

.beapow-article p {
    color: #1f2732;
    position: relative;
    text-align: justify;
    line-height: 2.0;
    font-size: 1.1em;
    padding: 10px 0 10px 30px;
}

.beapow-book-digests li {
    margin: 0 0 0 20px;
    font-family: adobe-garamond-pro, serif;
}

.beapow-book-digests blockquote {
    font-size: 1em;
    margin-left: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    font-family: adobe-garamond-pro, serif;
}

.beapow-book-digests blockquote p {
    padding: 5px;
    font-size: 1em;
    font-family: adobe-garamond-pro, serif;
    line-height: 1.5;
}

.beapow-book-digests ul,
.beapow-book-digests ol {
    margin-left: 50px;
}
.beapow-book-digests blockquote > ul,
.beapow-book-digests blockquote > ol{
    margin-left: 0;
}

.beapow-book-digests p {
    color: #1f2732;
    position: relative;
    padding: 0 0 0 50px;
    text-align: justify;
    font-size: 1.1em;
    font-family: adobe-garamond-pro, serif;
}

.beapow-page li {
    margin: 0 0 0 20px;
}

.beapow-page blockquote {
    font-size: 1em;
    margin-left: 50px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.2);
}

.beapow-page blockquote p {
    padding: 5px 10px 5px 10px;
}

.beapow-page ul,
.beapow-page ol {
    margin-left: 50px;
}

.beapow-page p {
    color: #1f2732;
    position: relative;
    padding: 0 0 0 50px;
    text-align: justify;
}

.docutils.align-center td {
    text-align: center;
    vertical-align: middle;
}

table.docutils.footnote  {
    margin-left: 45px;
}

.footer {
    position: relative;;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}


a[href ^= "http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
