/* Styling for Nav bar. Bg color, link color etc */

/*.navbar .nav > li > a { color: #D6EDF4; }
.navbar .divider-vertical { border-right: 1px solid #4D4D4D; }
.navbar { margin-bottom: 4em; }*/

.navbar-default {
    background-color: #F1F8FC;
    color: #FFFFFF;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

a.toc-backref {
  text-decoration: none;
}

div.content-title > h1 > a {
  text-decoration: none;
}

.sidebar {
  font-size: 0.9em;
  position: fixed;
  border-color: #FB0000;
  border-radius: 15px;
  border-width: medium;
}
